@import url('https://cdn.jsdelivr.net/gh/mustafazeydani/Fonts/CursedTimerULiL/CursedTimerULiL.css');




body {
    margin: 0;
    text-align: center;
    background: 

#E0F2FE
}

.container {
    display: flex;
    justify-content: space-around;
    
}


.scoreBoxes {
width: 120px;
top: 125px;
background: black;
margin: 20px;

font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 90px;
text-align: center;

color: #F94F6D;

}


.scoreText {
    
    position: absolute;


}

.highlight{
    background-color: #FFFF00;
}